body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    font-size: 16px;
    color: #434455;
}
:root {
    --primary-black-color: #2e2f42;
    --primary-grey-color: #8e8f99;
    --navyblue-modal: #2E2F42;
}
a {
    text-decoration: none;
    
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.container { 
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 156px;
    margin-right: 156px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
footer {
    background-color: #2E2F42;
}
.first-logo-word {
    color:#4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    display: inline-block;
}
.footer-logo {
    margin-bottom: 16px;
}
.second-logo-word {
    color: #2E2F42;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.second-logo-word-foot {
    color: #f4f4fd;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none
}
.link-word {
    color: #2E2F42;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration:none;
}
.link-word:hover,
.link-word:focus {
    color: #404bbf;
}
.list-adress {
    color: #434455;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-adress:hover,
.list-adress:focus {
    color: #404bbf;
}
.order-button {
    color:  #FFF;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 48px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
    background-color:  #404BBF;
    cursor: pointer;
}
.button-section {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.footer-text {
    color: #F4F4FD;
    width: 264px;
    line-height: 1.5;
}
.portfolio-menu {
    color:  #4D5AE5;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 96px 0 120px 0;
}
.people-list {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.list-work {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}
.names-worker {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}
.worker-description {
    color:  #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.order-button-portfolio {
    color:  #4d5ae5;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background:#F4F4FD;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.order-button-portfolio:hover,
.order-button-portfolio:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.image-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.image-block {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-block:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.image-block:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link {
    text-decoration: none;
}
.photo-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;;
}
.photo-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.image-block:hover .cover-text {
    transform: translateY(0%);
}

.image-block:focus .cover-text {
    transform: translateY(0%);
}

.cover-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
}
.cover-container {
    position: relative;
    overflow: hidden;
}
.header-adress {
    font-style: normal;
    
}

.header-nav:hover,
.header-nav:focus {
    color: #404bbf;
}
.list-menu {
    color: #2E2F42;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 500;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-menu:hover,
.list-menu:focus {
    color: #404bbf;
}
.list-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 332px;
}
.header-menu {
    display: flex;
    gap: 40px;
}
.address-list {
    display: flex;
    gap: 24px;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
.address-list {
    gap: 40px;
}
.solution {
    max-width: 496px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
}
.container-work {
    display: flex;
}
.work-item {
    width: 264px;
}
.list-text {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.advantages-work {
    padding: 120px 0;
}
.services-img {
    display: flex;
    gap: 24px;
}
.services {
    padding-bottom: 120px;
}
.stuff-items {
    display: flex;
    gap: 24px;
}
.list-workers {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.names-list {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.names-worker {
    margin-bottom: 8px;
}
.portfolio-nav-list {
    display: flex;
    gap: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-navigation {
    display: flex;
    gap: 40px;
}
.img-portfolio-list {
    display: flex;
}
.description-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.footer-info {
    padding: 100px 0;
}

.icon-adv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
}
.work-icon-con {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-icon-con:hover,
.work-icon-con:focus {
    background-color: #404BBF;
}

.icon-container {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}
.work-social-icons {
    fill: #F4F4FD;
}
.work {
    text-align: center;
    color:  #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.current {
    position: relative;
}
.current-color {
    color: #404BBF;
}
.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    left: 0;
}
.customers-item-list {
    width: calc((100% - 120px) / 6);
    height: 88px;
    /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.customer-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: var(--primary-grey-color);
    border: 1px solid var(--primary-grey-color);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-items {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.customers-item {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customer-link:hover .customers-item {
    fill: #404BBF; 
}

.customers-container {
    padding: 120px 0;
}
.social-text {
    color: #FFFFFF;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-size: 16px;
}
.footer-icons {
    display: flex;
    flex-direction: column;
    width: 208px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-logo-wrap {
    margin-right: 120px;
}
.icon-footer-container {
    display: flex;
    gap: 16px;
    /* margin-top: 16px; */
}
.footer-social-icons {
    fill: #F4F4FD;
}
.footer-icon-con {
    width: 40px;
    height: 40px;
}
.footer-link-icon {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-grey-color);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31D0AA;
}


/* --------MODAL-------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.40);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* transition: opacity 250ms linear, visibility 250ms linear; */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    
}

.modal-close-btn {
    border: none;
    background: none;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}
.close-icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-header {
    color:  #2E2F42;
    font-family: Roboto;
    text-align: center;
    width: 360px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    padding-left: 38px; 
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.input-label-text {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16; 
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    line-height: 1.17;
}
.modal-field {
    margin-bottom: 8px;
}
.input-wrap {
    position: relative;
}
.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40); 
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-textarea::placeholder {
    color: #2E2F42;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
}
.modal-button {
    color:  #FFF;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 24px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-text {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    display: block;
    align-items: center;
}
.privacy {
    color: #4D5AE5;
    text-decoration: underline;
}
.modal-field-check {
    margin-bottom: 24px;
}

.checkbox-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-mark:checked + .checkbox-text span {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}
.subscribe-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    outline: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.subscribe-input:focus {
    border-color: #4D5AE5;
}
.subscribe-input::placeholder {
    /* padding: 8px 16px; */
    color: #ffffff;
}
.subscribe-container {
    margin-left: 80px;
}
.subscribe-logo {
    display: flex;
    fill: #fff;
    margin-left: 16px;
}
.subscribe-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* margin-left: 24px; */
    min-width: 165px;
}
.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}
.modal-button:hover,
.modal-button:focus {
    background-color:  #404BBF;
    cursor: pointer;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color:  #404BBF;
    cursor: pointer;
}
.modal-textarea-con {
    margin-bottom: 16px;
}
